mixin linkList(items, activeLink)
    ul.nav.navbar-nav
        - for (var i = 0; i < items.length; i++)
            if i == activeLink
                li.nav-item.active
                    a(href="#")= items[i]
            else
                li.nav-item
                    a(href="#")= items[i]

mixin card(obj)
    .row
        each item in obj
            .col-md-4
                .thumbnail
                    .thumbnail-img-top
                        span(class= item.class)
                    .caption
                        .thumbnail-title.text-center
                            h3= item.title
                        .content.text-center
                            p= item.text
                    .text-center
                        a.btn.btn-sm.btn-primary(href="#") Learn more

mixin heading(title, content, theme)
    if theme == undefined
        .common-text-block
            .title-decoration.text-center
                h3= title
            .text-center.default-content-color
                p= content
    else if theme !== undefined
        .common-heading-block
            .title-decoration.text-center.mb-2.primary-title-color
                h3= title
            .text-center.text-success
                p= content

mixin headingWithoutParagraph(title)
    .title-holder.title-decoration.text-center.mb-4.text-uppercase
        h4= title

mixin addImg(arr)
    .container.common-section
        .row
            .col-lg-10
                .row.grid
                    - for (var i = 0; i < arr.length; i++)
                        .custom-block.grid-item(class= arr[i].description)
                            .mb-4
                                a(href=arr[i].path)
                                    .img-holder(style="background-image: url('../../"+arr[i].workImage + "')" )


mixin addsliderItem(obj)
    -for (var i = 0; i < obj.length; i++)
        .slider-item
            .slider-item.text-center
                blockquote
                    q.mb-4= obj[i].content
                    .img-holder(style="background-image: url('../../"+obj[i].photo + "')" )
                        a.ml-2(href="")
                    cite.description.text-left
                       span
                           strong= obj[i].name
                       span= obj[i].someText

mixin Logos(arr)
    .row
        - for (var i = 0; i < arr.length; i++)
            .col-md-6.col-lg-3.mb-5.text-center
                a(href= arr[i].link)
                    img(src=arr[i].logo alt=arr[i].logo)

mixin personals(obj, theme)
    .row
        -for (var i = 0; i < obj.length; i++)
            if i == 0
                .col-md-offset-1.col-sm-5.col-md-2
                    .mb-5.mb-lg-0
                        .img-holder(style="background-image: url('../../"+obj[i].photo + "')" )
                        .text-white.common-decoration-block
                            p= obj[i].name
                        +social(obj[i].socials, theme)
            else
                .col-sm-5.col-md-2
                    .mb-5.mb-lg-0
                        .img-holder(style="background-image: url('../../" + obj[i].photo + "')" )
                        .text-white.common-decoration-block
                            p= obj[i].name
                        +social(obj[i].socials, theme)

mixin social(obj, theme)
    if theme == "green"
        .team-social
            ul.socials-contact.bg-light-green
                each index, item in obj
                    li
                        a(class="bg-for-"+ item href=obj[item])
                            span(class='icon-' + item)
    else
        .team-social
            ul.socials-contact.bg-light-gray
                each index, item in obj
                    li
                        a(class="bg-for-"+ item href=obj[item])
                            span(class='icon-' + item)

mixin createPost(arr)
    .posts
        -for (var i=0; i < arr.length; i++)
            .clearfix
                .pull-left
                    .img-holder(style="background-image: url('../../"+ arr[i].photo + "')" )
                .pull-left.text-left
                    h4= arr[i].title
                    a.btn.btn-sm.text-uppercase.text-white.align-self-start(href="#" class="btn-" + arr[i].color)= arr[i].btnText

